* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 0.3s cubic-bezier(.05, .5, 0, 1);
	
}
@font-face {
	font-family: kamerik-3d;
	src: url(../fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}
@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/merriweather-regular-italic.woff2);
}
body {
	background-color: black;
	color: #fff;
	font-family: kamerik-3d;
}
.logo {
	--logo-postion: calc(var(--index) * 7.8);
	width: calc(var(--index) * 7.8);
	height: calc(var(--index) * 7.8);
	background-repeat: no-repeat;
	position: absolute;
	left: calc(var(--logo-postion) * .1);
	top: calc(var(--logo-postion) * .1);
	z-index: 1;
}
.layers {
	perspective: 1000px;
	overflow: hidden;
}
.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}
.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.layer-1 {
	transform: translateZ(-45px) scale(1.06);
}
.layer-2 {
	transform: translateZ(80px) scale(.88);
}
.layer-3 {
	transform: translateZ(180px) scale(.8);
}
.layer-4 {
	transform: translateZ(190px) scale(.9);
}
.layer-5 {
	transform: translateZ(300px) scale(.9);
}
.layer-6 {
	transform: translateZ(380px);
}
.hero-content {
	font-size: calc(var(--index) * 2);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.13);
	line-height: 1.5em;
	margin-top: calc(var(--index) * 2.5);
}
.hero-content span {
	display: block;
}
.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .7);
}
.button-start {
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * 1);
	letter-spacing: calc(var(--index) * 0.01);
	padding: calc(var(--index) * 0.3) calc(var(--index) * 1.1);
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: #fff 3px solid;
	outline: none;
	cursor: pointer;
}
.button-start:hover {
	background-color: rgb(129, 129, 129);
	transition: 0.5s ease;
}
.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}